*{
  margin: 0;
  padding: 0;
}
a{
  
  transition: all 0.3s ease-out;
}
a:hover{
  color: #000000 !important;
  
}
.nav-link>svg{
  border-bottom: 2px solid #ffffff;
  padding-bottom: 4px;
  font-size: 22px;
  margin-left: 10px;
  margin-right: 10px;
}
.active>svg{
  color: #8335fd;
  border-bottom: 2px solid ;
  padding-bottom: 4px;
  font-size: 22px;
}
.iconHouse>svg{
  font-size: 20px;
}
.infohome{
  background-color: #c3c1c9;
  margin-top:40px;
}
